.header {
  width: 100%;
  height: 8vh;
  background-color: $main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    color: $grass;
    letter-spacing: 7px;
    font-weight: 900;
    font-size: 3rem;
    // for aligning ball icon to title
    display: flex;
    align-items: center;
    justify-content: center;
    .title-icon {
      margin-right: 0.5rem;
    }
  }
}
.sound {
  border: none;
  color: $grass;
  font-size: 3rem;
  font-weight: 900;
  border-radius: 7px;
  background-color: $main;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 2rem;
  &:hover {
    scale: 1.3;
  }
}
