@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "variables";
@import "app";
@import "header";
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
