@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "variables";
@import "app";
@import "header";
@import "main";
@import "levels";
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
@media (max-width: 1250px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 759px) {
  html {
    font-size: 5px;
  }
}
